@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;800&family=Red+Hat+Display:wght@900&display=swap");
body,
p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

h1 {
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

h2 {
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

h3 {
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

h4 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
}

strong, .strong {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  body,
p {
    font-size: 16px;
    line-height: 22px;
  }
  h1 {
    font-size: 60px;
    line-height: 70px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 14px;
    line-height: 19px;
  }
  strong, .strong {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
}
nav {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  text-transform: uppercase;
}

.bg-primary {
  background-color: #FFCB1F;
  color: #221F20;
}

.bg-dark {
  background-color: #221F20;
  color: #FFFFFF;
}

.carrusel-slider {
  position: relative;
}
.carrusel-slider .slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  z-index: 10;
  --grid:2;
  --grid-md:1;
}
.carrusel-slider .slider.slider-grid {
  /*visible items */
  --n: attr(data-grid number);
  --g: 0px;
  z-index: 100;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - (var(--grid) - 1) * var(--g)) / var(--grid));
  grid-gap: var(--g);
  overflow: hidden;
}
@media (min-width: 768px) {
  .carrusel-slider .slider.slider-grid {
    grid-auto-columns: calc((100% - (var(--grid-md) - 1) * var(--g)) / var(--grid-md));
  }
}
.carrusel-slider .slider.slider-grid > div {
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.carrusel-slider .slider.slider-grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.carrusel-slider .slider .item-slider {
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 100%;
}
.carrusel-slider .dot-control {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.carrusel-slider .dot-control div {
  z-index: 50;
  height: 8px;
  width: 8px;
  cursor: pointer;
  background-color: #E0E0E0;
}
.carrusel-slider .dot-control div:hover, .carrusel-slider .dot-control div.active {
  background-color: #FFCB1F;
}
@media (min-width: 768px) {
  .carrusel-slider .dot-control {
    padding-top: 0px;
  }
  .carrusel-slider .dot-control div {
    width: 12px;
    height: 12px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 88.2%;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 1360px;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 8px;
}

html,
body {
  height: 100%;
}

.galeria-nosotros > div {
  height: 550px;
}

.footer ul li {
  margin-bottom: 4px;
}
.footer ul li:first-child {
  margin-bottom: 8px;
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
