@use 'vars' as v;
@import 'mixin';
@import 'styles';
@import 'components';
@import 'utils';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;800&family=Red+Hat+Display:wght@900&display=swap');



html,
body {
    height: 100%;

    // scroll-behavior: smooth;

    color: v.$black;
}

// 

.galeria-nosotros {
    >div {
        height: 550px;
    }
}


.footer {
    ul {

        li {


            &:first-child {
                margin-bottom: 8px;
                text-transform: uppercase;
            }

            margin-bottom: 4px;
        }
    }
}


// ****** CONTACT *********//


input,
textarea,
.selection {
    background-color: transparent;
    outline: none;
    padding: 1rem;
    border: 3px solid v.$black;

    &:hover,
    &:focus,
    &:target,
    &:active {
        outline: none;
        border: 3px solid v.$primary;

    }

}

form {

    gap: 1.5rem;
    .form-control {
        
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

   
    }
}